.Rproj.user
*.DS_store
*.Rcheck
.Rd2pdf*
*~
*.Rhistory
*.Rdata
*.dta
*.json
*.xlsx
*.json
#Ignore input and output folders
input/
raw/
data/output
data/raw
drafts_slides/
input
raw
drafts_slides
shapefiles
shapefiles/
input/
output/
raw/
data/output
data/raw
drafts/
temp/
analysis/output
structural/output
input
output
raw
drafts
temp
documentation
documentation/
data/documentation
maps 
maps/
literature
literature/
transfer
transfer/
slides/
slides
*.DS_store
# ignore log files
*.log
_*.m
*.m~
*.Rout
*.Rhistory
*.out
*.RData
.RData
*.pdf
*.stswp
*.asv
*.txt
*.aux
C:\Users\alask\OneDrive\Desktop\master_work\master_thesis\master_thesis_shared